

   .section{
	margin-top:18%;
	display:block;
	//border:2px solid red;
	//width:100%;
	//background:green;
	//top:30%;
	padding:0px;
	//position:relative;
    z-index:2;
}
 .main{
	 width:100%;
	 height:auto;
	 //background-color:	#E6E6FA;
	 //background-color:#9400D3;  
	 
	 //background-color:#32CD32;  	 
	 padding:0px;
	 //border:1px inset #D3D3D3;
	 display:inline-block;
	 padding:0px;
	 overflow:hidden
  }
  
  .div1{  
	//  border:2px solid #686868 ;
	  width:15%;
	  height:auto;
	  margin-right:10px;
	  float:left;
	  padding:1px;
	  display:block;
  }
  .div1 a :hover{
	  text-decoration:none;
  }
  .div1_1 {
	  width:100%;
	  height:50px;
	  background-color:#484848;
	  //border:2px solid #484848;
	  padding:0px;
	  //border:1px solid #FFCC33;	
  }
  .div1_1:hover{
	  text-decoration:none;
  }
  .div2{
	  width:50%;
	  height:auto;
	  float:left;	  
	  //padding:px;	  
  }
  .div1_2{
	  width:100%;
	  height:450px;
	  display:block;
	  //border:1px solid #FFCC33;
	  line-height:30px;
	  padding:0px;
	  
	  //text-align:center;
	  font-size:1.2em;
	  //opacity:0.6;
  }
  .div_feed_header{
	  
	  height:100%;
	  //text-align:center;
	  font-size:1.2em;
	  
	 font-family:Courier, Monaco, monospace;
	  color:#232629; 
	//color:#484848;
	  //display:bold;  
  }
  .div_feed_header a:hover{text-decoration:none;
	//color:white;}
  
  .div2_2{
	  height:auto;
	  //margin-top:-5px;
	  
	  padding:0px;
  }
 /* .div_feed_header:hover{
  background: linear-gradient(top, #423131,  #961b1b );
  background: -ms-linear-gradient(top, #423131,  #961b1b);
  background: -webkit-gradient(linear, left top, left bottom, from( #423131), to( #961b1b));
  background: -moz-linear-gradient(top,   #423131,  #961b1b);
   color:white; }
  */
  
  .div_feed_header:hover{
	  color:#909090   ;
	  //border:2px outset black;
  }
 
  
 /* #int_fields li a:hover{
	  background-color:#D3D3D3;
	text-decoration:underline;
	background:#D0D0D0 ;
  
  }*/
  .list-group-item {
	    //background-color:#D3D3D3;
		//background-color:#9400D3;
		font-size:15px;
		//border:none;
		padding:5px;
		color:white;
		//padding-left:0px;
		text-align:left;
		word-break:keep-all;
		word-wrap:break-word;
  }
  .list-group-item a{
	  //color:black;
	  color:white;
  } 
  .list-group-item :hover{
	  text-decoration:underline;
  }
  .div3{
	  width:29%;
	  height:auto;
	  float:left;
	  
  }
  
  .txtarea{
	  //width:500px;
	  //height:100px;
	  border:2px dashed #3366CC;
	  text-align:left;
	  padding:10px;
	font-size:15px;
	border-radius:5px ;
  }
  
  .new_feed {
	  width:100%;
	  height:200px;
	  //border :1px solid #202020;
	  //opacity:0.8;
	  text-align:center;
	  //filter: alpha(opacity=40); /* For IE8 and earlier */
		//background-color:black;
		//background-color:#D3D3D3;
		background-color:white;
		word-break:keep-all;
		word-wrap:break-word;
		overflow:hidden;
		font-size:1em ;
		padding:20px;
		//color:#FFFFFF;
		color:black;
		transition:font-size 1s, padding 2s, border .6s;
		//transition-timing-function:ease-in-out;
		margin:6px 2px 6px 2px;
		border-radius:6px ;
		box-shadow:3px 3px 1px grey;
  }
  .new_feed {
	  color:black;
  }
  .new_feed:hover{
	  //opacity:1;
	  text-decoration:none;
	   //filter: alpha(opacity=100); 
	   //font-size:20px;
	   padding:10px;
	   background:white;
	   border:4px outset black;
	   //background-color:#D3D3D3;
	   color:black;
	   text-align:center;
  }
   .new_feed  a:hover{
	  //opacity:1;
	   //filter: alpha(opacity=100); 
   }
  .div3_2{
	  height:auto;
	  padding:1px;
	  padding-top:10px;
	  border-left:0px;
	  //overflow:auto;
	   border-radius:6px ;
  }
  .new_discuss{
	  
	  width:100%;
	  height:100px;
	  border :1px inset #202020; 
	  border-radius:6px ;
		word-break:keep-all;
		word-wrap:break-word;
		overflow:hidden;
		padding:10px;
		font-size:15px;
		
  }
  
 iframe:focus { 
    outline: none;
}

iframe[seamless] { 
    display: block;
}

.more{
	width:100%;padding:10px;text-align:right;
	font-size:1.6em;
}
 /*ul#div_2header{
	  width:100%;
	  height:100%;
	  padding:0px;
  }
  ul#div2_header  li {
	  display:inline;
	  width:100%;
	 margin-left:30px;
	   padding:15px
	  
  }
  ul#div2_header  li a{
	  width:50%;
//	 margin-top:15px;
	 margin-left:30px;
	 padding:35px 40px;
	  height:100%;
	  background-color:yellow;
  }*/
  
  .ask_head{
	  //border:1px solid red;
	  //border:1px solid red;
	  padding:5px;
	  height:auto;
	  width:100%;
		//position:fixed;
		
		display:block;
		
  }
  
  .type_btn{
	  
	  width:auto;
	  height:50px;
	  padding:5px;
	  font-size:25px;
	  box-shadow:3px 3px 1px grey;
	  background-color:#00CC33;
	  border:none;
	  display:inline-block;
	  //font-family:Times-roman;
  }
  .ask_section{
	  width:100%;
	  height:auto;
	  padding:0px;
	  display:block;
	  //float:left;
	  margin:2px;
	  //background:#FFFFCC;
	  //color:#909090 ;
	//  border:4px solid green;
  }
  
  .ask_section1{
	  
	   width:100%;
	  height:auto;
	  padding:0px;
	  //display:block;
	 // float:left;
	  
	  margin:2px;
	  margin-top:10px;
	  //background:#FFFFCC;
	  //border:1px solid red;
  }
  
  .ask_section2{
	  //border:1px solid blue;
	   width:100%;
	  height:auto;
	  padding:2px;
	  //display:block;
  }
  .new{
	width:20px;
	height:20px;	  
  }
  .tag_div{
	  
  }
  .checked{
    display:none;
}
.active .checked {
    display:inline-block;
}
.active .unchecked {
    display:none;
}
.plus{
	width:50px;
	height:50px;
	padding:0px;
	font-size:2em;
	margin:0px;
	//border:1px solid red;
	display:inline-block;
}
.add_plus_txt{
	font-size:2em;
	display:inline-block ;
	color:#505050 ;	
}
  .tag{	  	  
	  width:220px;
	  height:50px;
	  padding:10px;
	  padding-bottom:0px;
	  font-size:25px;
	  //text-align:center;
	  text-align:left;
	  box-shadow:3px 3px 1px grey;
	  background-color:#00CC33;
	  border:none;
	  margin:10px;
	  margin-left:0px;
	  margin-right:50px;
	  display:inline-block;
	  //font-family:Times-roman;
	  transition:width 1s,height 1s,font-size 1s;
	  transition-timing-function:ease-in-out;
  }
  
  .tag:hover{
	  //width:240px;
	  height:70px;
  }
  
  .suggest{
	  width:100%;
	  height:100%;
	  color:white;
	  margin:2px;
	  padding:20px;
	 // border:1px solid red;
  }
  
  footer{
	  position:relative;
	  display:block;
	  margin-top:300px;
	  width:100%;
	  height:200px;
	  background-color:#202020;
  }
  
  .player{
	  
	  
  }
  .player:hover{
	  opacity:0.6;
	  
  }