body {
 background:url("../static/images/video-games.jpg") no-repeat center center fixed;
background:cover;
 //height: 1000px;
 font-family:Courier, Monaco, monospace;

}



header {
  //font-family: sans-serif;
  
  font-size:1.2em;
  //display:bold;
  //position: fixed;
    z-index:3;
	position:fixed;
   
  width: 100%;
  height: 150px;
  //height:auto;
  display:block;
  top: 0;
  left: 0;
//padding:0px;
    padding:10px 0px 8px 0px;
	margin-bottom:10%;
  //background-color: rgba(22, 22, 22, 0.4);
  background-color: rgba(22, 22, 22,1);
  
  //background-color:white;
  border-bottom: 3px solid rgba(0, 0, 0, 0.4);
  -webkit-transition: height 0.3s;
   -webkit-transition: font-size 0.3s;
  //-webkit-transition: all 1s;
}
header .container {
  width: 100%;
  margin: 0 auto;
  height:auto;
}
header h1 {
  margin-top: 0;
  //font-size:2em;
}
header h1, header nav ,header.header2-left{
  display: inline-block;
 // position: relative;
  line-height: 60px;
  //width:100%;
  -webkit-transition: all 0.3s;
  
}
header h1 a span{
	font-size:1.4em;
}

header a {
  text-decoration: none;
  color: #ccc;
}
header nav ,header.header2-left{
  float: right;
  //width:100%;
  //line-height: 60px;
  font-size: 1.4em;
}
header nav a {
  //margin-left: 10px;
}
header nav a:hover {
  //border-top: 2px dotted white;
  //border-bottom: 2px dotted white;
}
.header1{
	 border-bottom: 3px solid rgba(0, 0, 0, 0.4);
	// padding-left:
}
.top-left{
//color:#202020;
font-size:30px;
width:auto;

margin-left:7px;
margin-right:2%;

display:inline-block;
font-family:Courier, Monaco, monospace;
//font-family:Lucida Console;
//font-family:Arial,sans-serif;
}
.top-left a:hover{
	text-decoration:none;
	color:white;
}

.search{
	//margin-top:-5px;
	padding:0px;
	margin-top:0px;
	display:inline-block;
	width:25%;
}

.search input{
	width:100%;
	
	margin-top:0px;
	margin-top:-15px;
}
.top-right{
margin-top:2px;
float:right;
margin-right:2%;
display:inline-block;
//width:25%;
height:auto;
margin-top:5px;	
}

.top-right nav{
	margin-left:10px;
	width:auto;
	float:left;
	color:red;
	display:inline-block;
	//border:2px solid red;
	
}
.dropdown-menu{
	background: linear-gradient(top, #423131,  #961b1b );
  background: -ms-linear-gradient(top, #423131,  #961b1b);
  background: -webkit-gradient(linear, left top, left bottom, from( #423131), to( #961b1b));
  background: -moz-linear-gradient(top,   #423131,  #961b1b);
       
  }
  .dropdown-menu li a{
	  color:black;
	  background-color:white;
  }
  .dropdown-menu li a:hover{
	color:white;
 background: linear-gradient(top, #423131,  #961b1b );
  background: -ms-linear-gradient(top, #423131,  #961b1b);
  background: -webkit-gradient(linear, left top, left bottom, from( #423131), to( #961b1b));
  background: -moz-linear-gradient(top,   #423131,  #961b1b);	
  }
  .dropdown-menu li a:active{
	  
	  background:black;
	  color:white;
  }
   #db_menu li a{
	   -webkit-transition: font-size 0.3s; 
   }
  
  #db_menu li a:active{
	   
	  background:black;
	  color:white;
	  -webkit-transition: font-size 0.3s; 
  
  }
  
/* .onhover:hover{
  background: linear-gradient(top, #423131,  #961b1b );
  background: -ms-linear-gradient(top, #423131,  #961b1b);
  background: -webkit-gradient(linear, left top, left bottom, from( #423131), to( #961b1b));
  background: -moz-linear-gradient(top,   #423131,  #961b1b);
color:#909090 ;
  } */
  .header2{
	  padding:0px;
	  padding-right:20px;
	  margin:0px;
	  height:auto;
	  width:100%;
	  display:inline-block;
	  //height:100px;
	  //border:2px solid red;
	  border-top:4px solid red;
	  font-size:1em;
	  -webkit-transition: font-size 0.3s;  
  }
 
 
 .navbar-nav{
	margin:5px; 
}
 
 .navbar-nav li a{
	//margin:5px; 
	font-size:0.9em;
	//margin:0px;
	padding-bottom:10px;
	 -webkit-transition: font-size 0.3s,padding-bottom 0.3s;
 }
 .navbar-nav li a:hover{
background-color: rgba(22, 22, 22, 0.4);
border-radius:4px;
//padding-top:-5px;
//margin:5px;
 color:white;
 }
 
header.minimized {
  height: 110px;
//height:auto;
 position:fixed;
    z-index:3;
  }
header.minimized h1, header.minimized nav ,header.minimized ul  li{
  line-height: 25px;
}
header.minimized nav {
  font-size: 1.2em;
}
header.minimized h1 span{
  font-size: 1.2em;
}
header.minimized ul  li a{
	font-size:14px;
	line-height: 10px;
	padding-bottom:0px;
	//padding:0px;
	//margin:0px;
}
header.minimized  input{
	height:30px;
	width:25%;

}
 
 #db_menu li a.minimized{
	 
	 font-size:3px;
 }
.container {
	//background:yellow;
 //height: 2000px;
}
