<!Doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/css/bootstrap.css">
<link rel="stylesheet" href="../static/css/home.css">
<style>
body{
background:url("galaxy-wallpapers-10.jpg") no-repeat center left;
//background:url("../static/images/galaxy-wallpapers-10.jpg") no-repeat center left;
background-size:cover;
font-family:Courier, Monaco, monospace;
 
 }

 body img{
 opacity: 0.6;
    filter: alpha(opacity=40);
 }
 
 hr{
	 height: 2px;
    background-color:#555;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 85%;
 }
 
</style>
</head>
<body>
<div  class="container">

	
	<div class=" well header" style="">
		<div class="top-left" style="display:inline-block;width:50%">
<strong><span style="font-size:35px">G</span>ame <span style="font-size:35px">W</span>orld</strong>
		</div>
		<div class="top-right"  style="display:inline-block;">
			<div class="form-inline search" style="float:left;margin-top:1px">
				<label for="username" style="color:black;font-size:18px">Search &nbsp&nbsp</label>
				<input type="text" name="search" class="form-control" id="search" placeholder="Search"></input>
			</div>
			<div style="margin-left:10px;width:auto;float:left;color:red">
				<div class="btn-group">
					<button type="button" class="btn btn-primary" style="border-radius: 50%" >
							<span class="glyphicon glyphicon-user"></span> 
					</button>
					<button type="button" class="btn btn-primary" style="border-radius: 10px ;margin-left:3px;" >lovingyugs</button>	
					<div class="btn-group">
					<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="user_drop"style="border-radius: 10px ;">
						<span class="caret"></span></button>
						<ul class="dropdown-menu onhover" id="drop_down"role="menu">
							<li><a href="#">Settings</a></li>
							<li><a href="#">Tods</a>
							<li><a href="signup.html">Logout</a></li>
							<li><a href="#">Help</a></li>
						</ul>
					</div>
				</div>
			</div>
		
					
		</div>
	</div>
</div>
 <div class="container" style="">
<div class="nav_div">
<nav class="navbar navbar-inverse onhover" style="margin-top:-15px">
  <div class="container" style="">
    <div class="collapse navbar-collapse " id="myNavbar" style="padding-right:50px;">
        <ul class="nav navbar-nav ">
        <li ><a href="home.html">Home</a></li>
        <li><a href="ask.html" onclick="make_link_active()">Ask</a></li>
        <li><a href="article.html" onclick="make_link_active()">Post</a></li>
		<li class="dropdown onhover" >
          <a class="dropdown-toggle onhover" data-toggle="dropdown" id="games_drop" href="#">Games <span class="caret"></span></a>
          <ul class="dropdown-menu onhover" id="db_menu" style"color:white">
			<li><a href="#">Game1</a></li>
            <li><a href="#">Game2</a></li>
            <li><a href="#">Game3</a></li>   
		  </ul>
        </li>
        <li><a href="#" onclick="make_link_active()" style="display:inline-block;float:left">Notifications
			</li>
			<li style="padding:0px;text-align:center;margin-top:10px;margin-left:-7px;color:black;border :4px inset #D3D3D3;border-radius:4px;width:30px;height:30px;background-color:#D3D3D3">	
			</a></li>
		</ul>
		 <ul class="nav navbar-nav navbar-right">
			<li><a href="Walkthroughs.html"><!-- <span class="glyphicon glyphicon-user"></span> -->Walkthroughs</a></li>
			<li><a href="#"><!-- <span class="glyphicon glyphicon-log-in"> </span>--> Gallery</a></li>
		</ul>
     </div>
  </div>
</nav>
</div>
</div>
<!/div>
<div class="container">
<div class="ask_section">
	<div class="type_btn" value="Type">
	<p id="type_static"style="display:inline-block">Type :</p>
	<p id="type" style="display:inline-block;margin:0px;">Article
	</p>
	<div class="btn-group">
    <button type="button" id="drop_btn" class="btn btn  dropdown-toggle" data-toggle="dropdown" style="margin-left:-10px;background:#00CC33">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" id="choose">
      <li><a href="#">Question</a></li>
      <li><a href="#">Article</a></li>
    </ul>
	
	</div>
	</div>
	<div class="ask_section1">
		<div id="on_ar">
			<p style="font-size:2em ; color:#505050 ;"><strong>Add Title.</strong></p>
			<div>
			<textarea  class="txtarea"placeholder="Title" cols="25" rows="2" name="txtarea" ></textarea>
		</div>
		</div>
		
		<div id="on_qs">
			<p style="font-size:2em ; color:#505050 ;"><strong>Add Section.</strong></p>
			<div>
			<textarea class="txtarea" placeholder="Enter text Here" cols="50" rows="4" name="txtarea" id="txtarea"></textarea>
		</div>
		</div>
	</div>
	<div class="ask_section2">
		<p style="font-size:2em; color:#505050  "><strong>Add Tags</strong></p>
			<!button value="click" id="tag_btn"click<!/button>
			<div id="tag_div" class="tag_div">
				<div class="tag">
					<span id="tag_checkbox0" class="glyphicon glyphicon-unchecked" style=""></span> 
					<p style="display:inline-block">Tag00</p></div>
				<div class="tag">
					<span id="tag_checkbox1" class="glyphicon glyphicon-unchecked" style=""></span>
					<p style="display:inline-block">Tag01</p></div>
				<div class="tag">
					<span id="uncheck_box" class="glyphicon glyphicon-unchecked" style="display:inline-block;margin:0px;"></span>
					<p style="display:inline-block">Tag02</p>
				</div>
				<div class="tag">
					<span id="uncheck_box" class="glyphicon glyphicon-unchecked" style="display:inline-block;margin:0px;"></span>
					<p style="display:inline-block">Tag03</p>
				</div>
				<div class="tag">
					<span id="uncheck_box" class="glyphicon glyphicon-unchecked" style="display:inline-block;margin:0px;"></span>
					<p style="display:inline-block">Tag04</p>
				</div>
				<div class="tag">
					<span id="uncheck_box" class="glyphicon glyphicon-unchecked" style="display:inline-block;margin:0px;"></span>
					 <p style="display:inline-block">Tag05</p></div>
				<div class="tag">
					<span id="uncheck_box" class="glyphicon glyphicon-unchecked" style="display:inline-block;margin:0px;"></span>
						 <p style="display:inline-block">Tag06</p>
				</div>
				<div class="tag">
					<span id="uncheck_box" class="glyphicon glyphicon-unchecked" style="display:inline-block;margin:0px;"></span>
					 <p style="display:inline-block">Tag07</p>
				</div>
				<div class="tag">
					<span id="uncheck_box" class="glyphicon glyphicon-unchecked" style="display:inline-block;margin:0px;"></span>
						 <p style="display:inline-block">Tag08</p>
				</div>
				<div class="tag">
					<span id="uncheck_box" class="glyphicon glyphicon-unchecked" style="display:inline-block;margin:0px;"></span>
					 <p style="display:inline-block">Tag09</p>
				</div>
				<div class="tag">
					<span id="uncheck_box" class="glyphicon glyphicon-unchecked" style="display:inline-block;margin:0px;"></span>
					 <p style="display:inline-block">Tag10</p>
				</div>
				<div class="tag">
					<span id="uncheck_box" class="glyphicon glyphicon-unchecked" style="display:inline-block;margin:0px;"></span>
					 <p style="display:inline-block">Tag11</p>
				</div>
			</div>
				<div>
				<p class="add_plus_txt"><strong>Add more</strong></p>
				<div  id="plus" class="plus">
					<button id="tag_btn"class="btn btn-link btn-lg" style="display:inline-block;font-size:25px;"><span class="glyphicon glyphicon-plus" style="display:inline-block"></span>
					</button>
				</div>
				</div>	
			
	</div>
				<div class="suggest">
					<div class="container" style="color:#585858;width:60%;text-align:center;">
						<hr>
						<hr>
						<hr>
					</div>
				</div>
</div>	
</div>
<footer>
</footer>

<script type="text/javascript" src="../static/js/jquery-1.11.3.min.js"></script>
<script src="../static/js/article.js"></script>

</body>
</html>





















