<html lang="en">
<head>
  <title>Bootstrap Case</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="../static/css/bootstrap.css">

<link rel="stylesheet" href="../static/css/home.css">
        <link rel="stylesheet" href="../static/css/style_home_header.css">
 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

<div class="contact-section" id="contact" style="font-family:cambria;">
			<div class="container">
				<div class="contact-section-grids">
					<div class="col-md-3 contact-section-grid wow fadeInLeft" style="float:left;" data-wow-delay="0.4s">
						<h4>Site Links</h4>
						<ul>
							<li><i class="point"></i>
							</li>
							<li class="data"><a href="/aboutUs.jimohuzoor">About Us</a> 
							</li>
						</ul>
						<ul>
							<li><i class="point"></i>
							</li>
							<li class="data"><a href="/contactDef.jimohuzoor">Contact Us</a>
							</li>
						</ul>
						<ul>
							<li><i class="point"></i>
							</li>
							<li class="data"><a href="#">Privacy Policy</a>
							</li>
						</ul>
						<ul>
							<li><i class="point"></i>
							</li>
							<li class="data"><a href="/termsAndCondition.jimohuzoor"> Terms of Use</a>
							</li>
						</ul>
					</div>
				
					<div class="col-md-3 contact-section-grid wow fadeInRight" style="float:left;" data-wow-delay="0.4s">
						<h4>Follow Us On...</h4>
						<ul>
							<li><i class="fb"></i>
							</li>
							<li class="data"><a href="https://www.facebook.com/jimohuzoor?fref=ts" target="_blank"> Facebook</a>
							</li>
						</ul>
						<ul>
							<li><i class="tw"></i>
							</li>
							<li class="data"><a href="#">Twitter</a>
							</li>
						</ul>
						<ul>
							<li><i class="in"></i>
							</li>
							<li class="data"><a href="https://www.linkedin.com/company/jimohuzoor" target="_blank"> Linkedin</a>
							</li>
						</ul>
						<ul>
							<li><i class="gp"></i>
							</li>
							<li class="data"><a href="#">Google Plus</a>
							</li>
						</ul>
					</div>
					<div class="col-md-3 contact-section-grid nth-grid wow fadeInRight" style="float:right;" data-wow-delay="0.4s">
						<h4>Subscribe Newsletter</h4>
						<p>To get latest updates and food deals every week</p>
<form id="j_idt96" name="j_idt96" method="post" action="/index.jimohuzoor" enctype="application/x-www-form-urlencoded">
<input type="hidden" name="j_idt96" value="j_idt96" />

						<div><input id="j_idt96:inputBox" type="text" name="j_idt96:inputBox" class="text" />
						<div class="clearfix"></div>
						</div><input id="j_idt96:commB" type="submit" name="j_idt96:commB" value="Submit" /><input type="hidden" name="javax.faces.ViewState" id="javax.faces.ViewState" value="5546058109115133879:-5719924006284348658" autocomplete="off" />
</form>
						
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>

		<div class="footer" style="background-color:#1F1209; ">
			<div class="container" style="font-family: Andalus">
				<p class="wow fadeInLeft" data-wow-delay="0.4s">
					© 2015 All rights Reserved By | <a href="http://www.jimohuzoor.com" target="target_blank">JimoHuzoor.com</a>  
						<span><a href="https://in.linkedin.com/pub/dilraj-vyas/b0/687/53a">Developed By Dilraj vyas </a></span>
				</p>
				
			</div>
		</div>
<script type="text/javascript" defer="defer" src="js/move-top.js" async="async"></script>
	<script type="text/javascript" defer="defer" src="js/easing.js" async="async"></script>
	<script src="js/wow.min.js" defer="defer" async="async"></script>
	<link href="css/animate.css" rel="stylesheet" type="text/css" />
		<script defer="defer" type="application/x-javascript" async="async"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	
	<script defer="defer" async="async">
 		new WOW().init(); 
 	</script> 
	
	<script type="text/javascript" defer="defer" async="async">
 		jQuery(document).ready(function($) { 
 			$(".scroll").click(function(event) { 
 				event.preventDefault(); 
 				$('html,body').animate({ 
					scrollTop : $(this.hash).offset().top 
 				}, 1200);
 			}); 
 		}); 
 	</script>

					<script type="text/javascript">
						$(document).ready(function() {
							$().UItoTop({ easingType: 'easeOutQuart' });
							
						});
					</script> 
		</body>
</html>