<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <title>Masonry demo</title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="../static/css/bootstrap.css">
  <link rel="stylesheet" href="../static/css/gallery.css">
</head>

<body>
  <div class="container">
    <h1>Masonry Demo by <a href="http://www.lukeshumard.com">Luke Shumard</a></h1>
  </div>
  <div id="content" class="container clearfix">
    <div class="item">
      <img src="../static/images/gallery/single-1.jpg" alt="" />
    </div>
    <div class="item">
      <img src="../static/images/gallery/single-2.jpg" alt="" />
    </div>
    <div class="item featured">
      <img src="../static/images/gallery/double-1.jpg" alt="" />
    </div>
    <div class="item">
      <img src="../static/images/gallery/single-3.jpg" alt="" />
    </div>
    <div class="item">
      <img src="../static/images/gallery/single-4.jpg" alt="" />
    </div>
    <div class="item featured">
      <img src="../static/images/gallery/double-2.jpg" alt="" />
    </div>
    <div class="item">
      <img src="../static/images/gallery/single-5.jpg" alt="" />
    </div>
    <div class="item">
      <img src="../static/images/gallery/single-6.jpg" alt="" />
    </div>
    <div class="item">
      <img src="../static/images/gallery/single-7.jpg" alt="" />
    </div>
    <div class="item">
      <img src="../static/images/gallery/low_contrast_linen.png" alt="" />
    </div>
    <div class="item">
      <img src="../static/images/gallery/single-9.jpg" alt="" />
    </div>
    <div class="item">
      <img src="../static/images/gallery/single-10.jpg" alt="" />
    </div>
  </div>
  <script type="text/javascript" src="../static/js/jquery-1.11.3.min.js"></script>
  <script src="../static/js/modernizr-2.5.3.min.js"></script>
  <script src="../static/js/jquery.masonry.min.js"></script>
  <script src="../static/js/gallery.js"></script>
  <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../static/js/jquery.cookie.js"></script>
  <script src="../static/js/home.js"></script>
  <script src="../static/js/index.js"></script>
</body>

</html>
