<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Game World-gameworld.pythonanywhere.com</title>
    
    
    
    
        <link rel="stylesheet" href="../static/css/style.css">
		<link rel="stylesheet" href="../static/css/bootstrap.css">
		<link rel="stylesheet" href="../static/css/home.css">
		<link rel="stylesheet" href="../static/css/style_home_header.css">
		<link href="../static/css/jquery-ui.css" rel="stylesheet">
	
    <style>
	body{
		background:url("../static/images/profile-background.png") repeat ;
		background:cover;

	}

	</style>
    
    
  </head>

  <body>
<header>
	
  
  <div class="header1" style="">
    <div class="top-left">
		<h1>
			<a href="/"><strong><span style="">G</span>ame <span style="">W</span>orld</strong>
			</a>
		</h1>
	</div>
	<div class="form-inline search" style="">
		<input type="text" name="search" class="form-control" style="width:100%;" id="search" placeholder="Search"></input>		
	</div>
	<div class="top-right">
		<nav>
			<div class="btn-group">
				<button type="button" class="btn btn-primary" style="border-radius: 50%" >
					<span class="glyphicon glyphicon-user"></span> 
				</button>
				<button type="button" id="user-name" class="btn btn-primary" style="border-radius: 10px ;margin-left:3px;" >username</button>		
				<div class="btn-group">
					<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="user_drop"style="border-radius: 10px ;">
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu dropdown-menu-right " id="drop_down"role="menu">
						<li><a href="#">Settings</a></li>
						<li><a href="#">Tods</a>
						<li ><a href="#" id="logout">Logout</a></li>
						<li><a href="#">Help</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
  </div>
  <div class="header2 navbar navbar-inverse">
  	
	<div class="navbar-header">
      <button type="button" class="navbar-toggle" style=""data-toggle="collapse" data-target="#menunavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>  
	  </button>
     </div>
	
	 <div class="collapse navbar-collapse" id="menunavbar">
		 <ul class="nav navbar-nav ">
        <li ><a href="/home">Home</a></li>
        <li><a href="/ask" onclick="make_link_active()">Ask</a></li>
        <li><a href="/article" onclick="make_link_active()">Post</a></li>
		<li class="dropdown " >
          <a class="dropdown-toggle " data-toggle="dropdown" id="games_drop" href="#">Games <span class="caret"></span></a>
          <ul class="dropdown-menu " id="db_menu" style="">
			<li><a href="#">Game1</a></li>
            <li><a href="#">Game2</a></li>
            <li><a href="#">Game3</a></li>   
		  </ul>
        </li>
        <li><a href="#" onclick="make_link_active()" style="">Notifications</a></li>
					</ul>
		 <ul class="nav navbar-nav navbar-right">
			<li><a href="/Walkthroughs"><!-- <span class="glyphicon glyphicon-user"></span> -->Walkthroughs</a></li>
			<li><a href="/gallery"><!-- <span class="glyphicon glyphicon-log-in"> </span>--> Gallery</a></li>
		</ul>
     </div>
	
  </div>
  
  <div class="clearfix visible-lg"></div>
  
</header>
<div class="section container">
<div class="section-head">
<!-- <p style="font-size:1.2em;display:inline-block;">Add Games:</p>
		  <input type="text" class="form-control" style="width:30%;" id="autocomplete" placeholder="Enter here"></input>
		  <button type="button" id="add" class="btn btn-info" >ADD</button>	
		 -->
<div id="new-user" class="new-user"><p>Follow atleast Five Games of your choice to start your feed.<button class="btn-btn-info" data-toggle="modal" data-target="#myModal" id="fill_int">Click Here!</button><p></div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 class="modal-title" style="font-weight:bold;">Add Interest</h2>
        </div>
        <div class="modal-body" style="height:auto;width:auto">
          <p style="font-size:1.2em;display:inline-block;">Add Games:</p>
		  <input type="text" class="form-control" style="width:30%;" id="autocomplete" placeholder="Enter here" ></input>
		  <button type="button" id="add" class="btn btn-info" >ADD</button>	
			<!-- <p class="interest-added" id="interest-added"></p>		 
		  -->
		  <div class="interest-name" style="display:block;" id="interest-name">
			<!-- <p class="interest-added" id="interest-added"><span class="remove-int"></span></p>
		   --></div>
		</div>
        <div class="modal-footer">
			<button type="button" id="done" class="btn btn-default" >Done</button>	
			<button type="button" id="close" class="btn btn-default" data-dismiss="modal">Close</button>					
		</div>
      </div>
      
    </div>
</div>
  
<h1>Masonry - animate item size</h1>

<p>Click items to toggle size</p>
</div>
<p><button class="stamp-button">Toggle stamp</button></p>
<div id="feed" class="grid">
  <div class="stamp">
	<div class="stamp-head">
		Top Stories
	</div>
	<div class="line"></div>
	<div class="story" id="story1"></div>
	<div class="line"></div>
	<div class="story" id="story1"></div>
	<div class="line"></div>
	<div class="story" id="story1"></div>
	<div class="line"></div>
	<a id="more-story" href="#">
		<div class="more-story-link stamp-head" style="font-size:1.2sem;float:right">more >>></div>
	</a>
  </div>
  
  <div class="grid-item grid-item--height2">
    <div class="grid-item-content" id="feed1">
		<div class="feed-div feed-upper-div">
			<img src="../static/images/profile-dribbble.png" class="feed-user-image"></img>
			<div class="feed-username">lovingyugs</div>
			<div class="follow-btn">Follow <span class="glyphicon glyphicon-plus" style="display:inline-block;font-size:15px;"></span></div>
		</div>
		<div class="feed-div feed-lower-div">
			<h2>How to download CS maps??</h2>
			<p></p>
		</div>
		<div class="like-bar">
			<span style=""class="glyphicon glyphicon-comment">4</span>
			<span style="font-size:1.2em"class="glyphicon glyphicon-heart">10</span>
			<div id="expand" class="expand_class">expand<span style="padding:3px;"class="glyphicon glyphicon-fast-forward"></span></div>
			<!-- <div id="less" class="expand_class">less<span style="padding:3px;"class="glyphicon glyphicon-fast-backward"></span></div>
		 --></div>
	</div>
  </div>
  <!-- <div class="grid-item ">
    <div class="grid-item-content">2</div>
  </div>
  <div class="grid-item grid-item--height3 ">
    <div class="grid-item-content ">3</div>
  </div>
  <div class="grid-item">
    <div class="grid-item-content">4</div>
  </div>
  <div class="grid-item grid-item--height2">
    <div class="grid-item-content ">5</div>
  </div>
  <div class="grid-item">
    <div class="grid-item-content">6</div>
  </div>
  <div class="grid-item grid-item--height2">
    <div class="grid-item-content">7</div>
  </div>
  <div class="grid-item grid-item--height3 ">
    <div class="grid-item-content   "></div>
  </div>
  <div class="grid-item">
    <div class="grid-item-content"></div>
  </div>
  <div class="grid-item">
    <div class="grid-item-content"></div>
  </div>
  <div class="grid-item">
    <div class="grid-item-content"></div>
  </div>
  <div class="grid-item">
    <div class="grid-item-content"></div>
  </div>
  <div class="grid-item">
    <div class="grid-item-content"></div>
  </div>
  <div class="grid-item grid-item grid-item--height2">
    <div class="grid-item-content"></div>
  </div>
  <div class="grid-item">
    <div class="grid-item-content"></div>
  </div> -->
</div>
<div class="view-more btn btn-info" id="view-more"> View More +
</div>
<!-- <nav id="page-nav" style="border:2px solid red;width:100px ;height:100px;">
  <a href="../templates/ask.html">link</a>
</nav> -->
</div>
<footer>
</footer>
	<script type="text/javascript" src="../static/javascript/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="../static/javascript/bootstrap.min.js"></script>
	<script type="text/javascript" src="../static/javascript/jquery.cookie.js"></script>
	<script type="text/javascript" src="../static/javascript/jquery.js"></script>
	<script type="text/javascript" src="../static/javascript/jquery-ui.js"></script>
	<script src="../static/javascript/index.js"></script>
	<script type="text/javascript" src="../static/javascript/home.js"></script>
	<script src="../static/javascript/home_index.js"></script>
	<script src="../static/javascript/masonry.pkgd.js"></script>
	<!-- <script src="../static/javascript/jquery.infinitescroll.min"></script>
	<script src="../static/javascript/jquery.endless-scroll"></script>
	 --><!-- <script src="../static/javascript/index.js"></script>
		 -->
    
    
    
  </body>
</html>
