<!Doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="../static/css/bootstrap.css">
<link rel="stylesheet" href="../static/css/home.css">
<style>

 body {
 background:url("../static/images/sunset.jpg");
background:cover;
 height: 1000px;
}

</style>
</head>
<body>
<div class="1-header-container 1-header-container--refresh">
</div>

<script type="text/javascript" src="../static/js/jquery-1.11.3.min.js"></script>
<script src="../static/js/home.js"></script>

</script>  
</body>
</html>