<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Masonry - imagesLoaded progress</title>
    
    
    
    
        <link rel="stylesheet" href="../static/css/imageGallary.css">

    
    
    
  </head>

  <body>

    <h1>Masonry - imagesLoaded progress</h1>

<div class="content" id='content'>
  <div class="image-sizer"></div>
  
    <div class="item ">
      <div class="imageHeading">Call of Duty</div>
      <img src="../static/images/wallpapers/1.jpg" alt="" />
      
    </div>
    
    <div class="item">
      <div class="imageHeading">Call of Duty</div>
      <img src="../static/images/wallpapers/2.jpg" alt="" />
    </div>
    
    <div class="item">
      <div class="imageHeading">Call of Duty</div>
      <img src="../static/images/wallpapers/3.jpg" alt="" />
    </div>
    
    <div class="item">
      <img src="../static/images/wallpapers/4.jpg" alt="" />
    </div>
    
    
    <div class="item">
      <img src="../static/images/wallpapers/5.jpg" alt="" />
    </div>
    
    <div class="item">
      <img src="../static/images/wallpapers/6.jpg" alt="" />
    </div>
    
    <div class="item">
      <img src="../static/images/wallpapers/7.jpg" alt="" />
    </div>
    
    <div class="item">
      <img src="../static/images/wallpapers/8.jpg" alt="" />
    </div>
    
    <div class="item">
      <img src="../static/images/wallpapers/9.jpg" alt="" />
    </div>
    
    
</div>
 <button class="btn btn-info" style="margin-left:100px;" id="but1">click</button>
    <script src='../static/javascript/jquery-1.11.3.min.js'></script>
<script src='../static/javascript/masonry.pkgd.js'></script>
<script src='../static/javascript/imagesloaded.pkgd.js'></script>

        <script src="../static/javascript/imageGallary.js"></script>

    
    
    
  </body>
</html>
