<!DOCTYPE html>
<html lang="en">
  <head>
	   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
       <title>Game World-gameworld.pythonanywhere.com</title>
       <link rel="stylesheet" href="../static/css/main.css"/>
       <link href='http://fonts.googleapis.com/css?family=Wellfleet' rel='stylesheet' type='text/css'>
	   <link href='http://fonts.googleapis.com/css?family=Wellfleet' rel='stylesheet' type='text/css'>
	   <link href='http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic' rel='stylesheet' type='text/css'>	
	   <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
	   <link href='http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911' rel='stylesheet' type='text/css'>

<link href="../static/css/jquery-ui.css" rel="stylesheet">
		
	<link rel="stylesheet" type="text/css" href="../static/css/dd.css" />
	
	<link rel="stylesheet" type="text/css" href="../static/css/flags.css" />
	<!-- 	<link href="../../staticcss/bootstrap1.min.css" rel="stylesheet">
 -->
    <link href="../static/css/stylish-portfolio1.css" rel="stylesheet">

    <link href="../static/font-awesome/css/font-awesome1.min.css" rel="stylesheet" type="text/css">


 </head> 
	
<body>

<!--  LINK BACK TO THE TUTORIAL  --> 

<!-- 
HEADER START -->
<header id="header">
<div class="content">
<div id="logo"><a href=""> GameWorld </a></div>

<nav id="nav">
	<ul>
		<li><a href="#slide1" class="active" title="Next Section" >Login</a></li>
		<li><a href="#slide2" title="Next Section">About</a></li>
		<li><a href="#slide3" title="Next Section">Features</a></li>
		<li><a  href="#slide4" title="Next Section">Extras</a></li>
		<li><a href="#slide5" title="Next Section">SignUp</a></li>
	</ul>
</nav>
</div>
</header>	
<!-- HEADER END -->

<!-- SLIDES START  	 -->
	<div id="slide1">
		<div class="content">
			<div id="christmas_tree"> </div>
			<div id="snowflakes1"></div>
			<div id="snowflakes2"></div>
            <h1>GameWorld</h1>
            <h3>One Place to find the answers to your questions</h3>
		    <div id="divider"> </div>
		</div>

<div class="wrapper">
	<div class="container">
		
		<form class="form" id="login-frm">
			<input type="text" id="email" placeholder="Email">
			<input type="password" id="pwd" placeholder="Password">
			<button type="submit" id="login-button" class="login-button">Login</button>
		</form>
	</div>
	</div>


		<a href="#">
		  <div class="button-fill orange">
		    <div class="button-text">DOWNLOAD APP</div>
		    <div class="button-inside">
		      <div class="inside-text">Play Store</div>
		    </div>
		  </div>
		 </a>



 	</div> 

	<div id="slide2">
		<div class="content" >
		<h1>What is GameWorld?</h1>
            <div class="quotes_container">
		    <h3 class="quotes">“Gone are the days when you have to ask your friends about the difficulties you encountered while playing a game. Now, you can ask your questions in our online platform and users across the world will give answers to your questions. Not only this, you can also help your fellow gamers by answering questions asked by them.”</h3>
		</div> 
		</div> 
    </div> 
	
	
   <div id="slide3">
		<div class="features">
		<div class="section4">
		<img src="../static/images/gallary.jpg" align="left" >
		</div>
			   <div class="quotes_container">
		       <h1 style="position:absolute;margin-top:50px">GameWorld is Blogs...</h1>
		       <h3 class="quotes" style="position:absolute; margin-top:200px">Turns out that when you make it easy to create interesting things, that’s exactly what people do. All those great, random gaming blogs your friends send you, those are GameWorld atricles. We’ll help you find and follow blogs like that, and we’ll help other people find and follow yours.</h3>
		    </div> 
		</div> 
    </div> 
	
	
	<div id="slide4">
		<div class="features">
				<div class="section2">
		<img src="../static/images/gallary.jpg" align="left" >
		</div>
			<div class="section3">
		<img src="../static/images/walkthroughs.jpg" align="left" >
		</div>
              <div class="quotes_container">
		    <h1 style="position:absolute;margin-top:50px;z-index:3000">And Many More...</h1>
		    <h3 class="quotes"style="position:absolute; margin-top:200px;z-index:3000">“Download wallpapers of your favorite games and watch walkthroughs of your favorite games.”</h3>
		</div> 
		</div> 
    </div> 
	
	
	<div id="slide5">
		<div class="content">
	<div class="signUpForm" id="sign-up-form">
    <h2>Sign Up For Free</h2>
    <div class="gap">&nbsp</div>
    <div class="full">
    	<input type="text" class="input-std" id="email_signup" placeholder="Email" style="width:100%"class="signUpInput">
    </div>
    <div class="full">
    	<input type="text" class="input-half1" id="first-name"  placeholder="First Name" class="signUpInput">
    	<input type="text" class="input-half2" id="last-name" placeholder="Last Name" class="signUpInput" >
    </div>
    <div class="full">
   	 <input type="text" class="input-std" id="user-name" placeholder="Username"class="signUpInput">
   	</div>
   	<div class="half">
    	<input type="password" class="input-half1" id="password" placeholder="Password" class="signUpInput">
  		<input type="password" class="input-half2" id="password-confirmation" placeholder="Confirm Password" class="signUpInput">
    </div>

  	<div class="half">
  		<input type="text" class="input-half1" id="dob" placeholder="DOB(yyyy-mm-dd)" class="signUpInput">
  		<input type="text" class="input-half2" id="country" placeholder="Country" class="signUpInput">
  	</div>
  	<div class="full">
 	 	<textarea class="input-std" id="description" placeholder="Description" class="signUpInput" style="height:50px;width:100%;margin-bottom:10px;"></textarea>
    </div>
        <div class="" id="radio">
    	<input type="radio" name="sex" value="male" id="male" class="opt-radio" checked><i class="fa fa-male fa-2x" style=""></i>
  		<input type="radio" name="sex" value="female" id="female" class="opt-radio"><i class="fa fa-female fa-2x"></i>
  	</div>
  	<div class="signUpButton">
    <button type="button" class="btn-submit" id="sign-up" class="login-button">Sign Up!</button>
  </div>
  </div>
    </div>
  </div>
		  </div>  








<div id="slide6">
	<div id="content">
	<h1>Our Crew</h1>
	<div class="section1">
	<div class="dishank morph">
		<img src="../static/images/dishank.jpg" align="left" >
	</div>
	<h3 style="font-size:30px">Dishank Jain</h3>
	<h3>FrontEnd Developer</h3>
	</div>
	<div class="section1">
		<div class="dishank morph">
		<img src="../static/images/prakhar.jpg" align="left" >
	</div>
	<h3 style="font-size:30px">Prakhar Gupta</h3>
	<h3>BackEnd Developer</h3>
	</div>
	<div class="section1">
	<div class="dishank morph">
		<img src="../static/images/utkarsh.jpg" align="left" >
	</div>
	<h3 style="font-size:30px">Utkarsh Indaliya</h3>
	<h3>App Developer</h3>
	</div>
	<div class="section1">
	<div class="dishank morph">
		<img src="../static/images/yugal.jpg" align="left" >
	</div>
	<h3 style="font-size:30px">Yugal Jain</h3>
	<h3>FrontEnd Developer</h3>
</div>

	</div>
</div>









		</div> 
		

    </div> 
	
<!-- SLIDES END    -->
<script type="text/javascript" src="../static/javascript/jquery-1.11.3.min.js"></script>
<script src="../static/javascript/jquery.dd.min.js"></script>
	<script type="text/javascript" src="../static/javascript/bootstrap.min.js"></script>

	
	<script type="text/javascript" src="../static/javascript/jquery.js"></script>
	<script type="text/javascript" src="../static/javascript/jquery-ui.js"></script>
	
	<script>
   
<!----- JQUERY FOR SLIDING NAVIGATION --->   

var user_id;
function do_login() 
{
  var login={};
  login.email = $('#email').val();
  login.password = $('#pwd').val();

  var data = {
    email: login.email,
    password: login.password
  };

  $.ajax({
    method: "POST",
    url: "/",
    data: data,
    success: function(res) {
      console.log(res);
      // $.cookie("user", res);
      if(res.check == 1)
      {
        user_id = res.user_id;
        localStorage.setItem('user_id',user_id);
        window.location.href = "/home"+ user_id;
      }
      else
      {
        alert(res.msg);
      }
      // window.location.href = "/home";
      append(res);
    },
    error: function(err) {
      console.log(err);
    }
  });
}

function dosignup() 
{
  var data={};
  
  data.firstname = $('#first-name').val();
  data.lastname = $('#last-name').val();
  data.username = $('#user-name').val();
  data.email = $('#email_signup').val();
  data.pwd = $('#password').val();
  data.dob = $('#dob').val();
 // data.month = $('#month :selected').val();
  //data.year = $('#year :selected').val();
  data.sex = $('.opt-radio:checked').attr('id');
  data.country = $('#country').val();
  data.descp = $('#description').val();
  // data.cpwd = ;
console.log("sex- " +data.email+" "+data.pwd+" "+data.dob+"  "+data.lastname);
  if(data.pwd !== $('#password-confirmation').val()) {
    console.log(data.pwd);
    alert("password do not match");
  }
  else {
    var data_JSON = JSON.stringify(data);
    console.log(data.sex, data.country);
    $.ajax({
      method: "POST",
      url: "/signup",
      data: data,
      success: function(res) {
        console.log(res);
        //$.cookie("user", res);
         
         //alert("Successfully Signup Now Login...");
        alert(res.msg)
        window.location.replace("/");
        // append(res);
      },
      error: function(err) {
        console.log(err);
      }
    });
  }

}

$(document).ready(function() {


 $('#login-frm').on('submit', function(event) {
    event.preventDefault();
    console.log('Submitted');
    do_login();
  });

   $("#sign-up").on('click', function(event) {
    event.preventDefault();
    console.log('Submitted');
    dosignup();
  });

  $('a[href*=#]').each(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'')
    && location.hostname == this.hostname
    && this.hash.replace(/#/,'') ) {
      var $targetId = $(this.hash), $targetAnchor = $('[name=' + this.hash.slice(1) +']');
      var $target = $targetId.length ? $targetId : $targetAnchor.length ? $targetAnchor : false;
       if ($target) {
         var targetOffset = $target.offset().top;

<!----- JQUERY CLICK FUNCTION REMOVE AND ADD CLASS "ACTIVE" + SCROLL TO THE #DIV--->   
         $(this).click(function() {
            $("#nav li a").removeClass("active");
            $(this).addClass('active');
           $('html, body').animate({scrollTop: targetOffset}, 1000);
           return false;
         });
      }
    }
  });


 $(".button-fill").hover(function() {
   $(this).children(".button-inside").addClass('full');
 }, function() {
   $(this).children(".button-inside").removeClass('full');
 });
});

</script>


</body>
</html>
