<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../static/css/bootstrap.css">
	<link type="text/css" rel="stylesheet" href="../static/css/profile.css"/>
	<link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/style_home_header.css">

	<title></title>
</head>
<style>
	body{
background:url("../static/images/profile-background.png") repeat	;
background: cover;
		}
</style>
<body>
	<header>

  <div class="header1" style="">
    <div class="top-left">
		<h1>
			<a href="/"><strong><span style="">G</span>ame <span style="">W</span>orld</strong>
			</a>
		</h1>
	</div>
	<div class="form-inline search" style="">
		<input type="text" name="search" class="form-control" style="width:100%;" id="search" placeholder="Search"></input>		
	</div>
	<div class="top-right">
		<nav>
			<div class="btn-group">
				<button type="button" class="btn btn-primary" style="border-radius: 50%" >
					<span class="glyphicon glyphicon-user"></span> 
				</button>
				<button type="button" class="btn btn-primary" style="border-radius: 10px ;margin-left:3px;" >lovingyugs</button>						
				<div class="btn-group">
					<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="user_drop"style="border-radius: 10px ;">
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu dropdown-menu-right " id="drop_down"role="menu">
						<li><a href="#">Settings</a></li>
						<li><a href="#">Tods</a>
						<li><a href="signup.html">Logout</a></li>
						<li><a href="#">Help</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
  </div>
  <div class="header2 navbar navbar-inverse">
  	
	<div class="navbar-header">
      <button type="button" class="navbar-toggle" style=""data-toggle="collapse" data-target="#menunavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>  
	  </button>
     </div>
	
	 <div class="collapse navbar-collapse" id="menunavbar">
		 <ul class="nav navbar-nav ">
        <li ><a href="#">Home</a></li>
        <li><a href="ask.html" onclick="make_link_active()">Ask</a></li>
        <li><a href="article.html" onclick="make_link_active()">Post</a></li>
		<li class="dropdown " >
          <a class="dropdown-toggle " data-toggle="dropdown" id="games_drop" href="#">Games <span class="caret"></span></a>
          <ul class="dropdown-menu " id="db_menu" style="">
			<li><a href="#">Game1</a></li>
            <li><a href="#">Game2</a></li>
            <li><a href="#">Game3</a></li>   
		  </ul>
        </li>
        <li><a href="#" onclick="make_link_active()" style="">Notifications</a></li>
					</ul>
		 <ul class="nav navbar-nav navbar-right">
			<li><a href="Walkthroughs.html"><!-- <span class="glyphicon glyphicon-user"></span> -->Walkthroughs</a></li>
			<li><a href="gallery.html"><!-- <span class="glyphicon glyphicon-log-in"> </span>--> Gallery</a></li>
		</ul>
     </div>
	
  </div>
  
  <div class="clearfix visible-lg"></div>
  
	</header>
	<div class="section container" style="font-family: 'PT Sans'">

		<div class="left" id="leftbar">
				<div class="imageDiv">
					<!-- <img id="profilePic" src="https://pbs.twimg.com/profile_images/1306594497/20-savita-bhabhi-230211_400x400.jpg" style="width:100%;height:100%"> -->
				</div>
				<div class="name">
					Yugal Jain
				</div>
				<div class="description">
				Born to be Gamer...@#$%^&*
				</div>
		</div>

		<div class="top">
			<div class="username">
				lOvinGyuGs
			</div>

			<div class="line1">

			</div>

			<div>
				<div class="followers">
				Followers
				<div style="text-align:center;font-size:1.3em">
					49
				</div>
				</div>

				<div>
					
				</div>

				<div class="following">
				Following
				</div>

			</div>

		</div>


	</div>	
<script type="text/javascript" src="../static/js/jquery-1.11.3.min.js"></script>
<script src="../static/js/modernizr-2.5.3.min.js"></script>
<script src="../static/js/jquery.masonry.min.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/home.js"></script>

</body>

</html>