<!DOCTYPE html>
<html>
<head>
<!-- <script type="text/javascript" src="http://ajax.googleapis.com/
ajax/libs/jquery/1.5/jquery.min.js"></script>
 -->
<link rel="stylesheet" href="../static/css/bootstrap.css">
<link rel="stylesheet" href="../static/css/home.css">

 <style>
.player{
padding:10px;
display:inline-block;
float:left;
margin: 20px 10px 10px 10px;
//width: 408px;
margin: 20px 10px 10px 10px;
float: left;
background-color:#ffffff;
border:solid 1px #B4BBCD;
min-height:50px;
text-align:justify;
word-wrap:break-word; 
}
.player:hover{
opacity:0.8;

}
</style>
</head>
  <body>
    <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
    <div id="player0" class="player"style="" ></div>
	<div id="player1" class="player"style=""></div>
    <div id="player2" class="player"style="" ></div>
	<div id="player3" class="player"style=""></div>
  <div id="player4" class="player"style="" ></div>
	<div id="player5" class="player"style=""></div>
  <div id="player6" class="player"style="" ></div>
	<div id="player7" class="player"style=""></div>
  <div id="player8" class="player"style="" ></div>
	<div id="player9" class="player"style=""></div>
  
<script type="text/javascript" src="../static/js/jquery-1.11.3.min.js"></script>
<script src="../static/js/walkthroughs.js"></script>

	</body>
</html>