<!DOCTYPE html>
<html>
<head>
<!-- <script type="text/javascript" src="http://ajax.googleapis.com/
ajax/libs/jquery/1.5/jquery.min.js"></script>
 -->
<link rel="stylesheet" href="../static/css/bootstrap.css">
<link rel="stylesheet" href="../static/css/home.css">        
<link rel="stylesheet" href="../static/css/style_home_header.css">

<style>
.player{
padding:10px;
display:inline-block;
float:left;
margin: 20px 10px 10px 10px;
//width: 408px;
margin: 20px 10px 10px 10px;
float: left;
background-color:#ffffff;
border:solid 1px #B4BBCD;
min-height:50px;
text-align:justify;
word-wrap:break-word; 
}
.player:hover{
opacity:0.8;

}
</style>
</head>
  <body>
    <header>
	
  
  <div class="header1" style="">
    <div class="top-left">
		<h1>
			<a href="/"><strong><span style="">G</span>ame <span style="">W</span>orld</strong>
			</a>
		</h1>
	</div>
	<div class="form-inline search" style="">
		<input type="text" name="search" class="form-control" style="width:100%;" id="search" placeholder="Search"></input>		
	</div>
	<div class="top-right">
		<nav>
			<div class="btn-group">
				<button type="button" class="btn btn-primary" style="border-radius: 50%" >
					<span class="glyphicon glyphicon-user"></span> 
				</button>
				<button type="button" class="btn btn-primary" style="border-radius: 10px ;margin-left:3px;" >lovingyugs</button>						
				<div class="btn-group">
					<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="user_drop"style="border-radius: 10px ;">
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu dropdown-menu-right " id="drop_down"role="menu">
						<li><a href="#">Settings</a></li>
						<li><a href="#">Tods</a>
						<li><a href="signup.html">Logout</a></li>
						<li><a href="#">Help</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
  </div>
  <div class="header2 navbar navbar-inverse">
  	
	<div class="navbar-header">
      <button type="button" class="navbar-toggle" style=""data-toggle="collapse" data-target="#menunavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>  
	  </button>
     </div>
	
	 <div class="collapse navbar-collapse" id="menunavbar">
		 <ul class="nav navbar-nav ">
        <li ><a href="#">Home</a></li>
        <li><a href="ask.html" onclick="make_link_active()">Ask</a></li>
        <li><a href="article.html" onclick="make_link_active()">Post</a></li>
		<li class="dropdown " >
          <a class="dropdown-toggle " data-toggle="dropdown" id="games_drop" href="#">Games <span class="caret"></span></a>
          <ul class="dropdown-menu " id="db_menu" style="">
			<li><a href="#">Game1</a></li>
            <li><a href="#">Game2</a></li>
            <li><a href="#">Game3</a></li>   
		  </ul>
        </li>
        <li><a href="#" onclick="make_link_active()" style="">Notifications</a></li>
					</ul>
		 <ul class="nav navbar-nav navbar-right">
			<li><a href="Walkthroughs.html"><!-- <span class="glyphicon glyphicon-user"></span> -->Walkthroughs</a></li>
			<li><a href="gallery.html"><!-- <span class="glyphicon glyphicon-log-in"> </span>--> Gallery</a></li>
		</ul>
     </div>
	
  </div>
  
  <div class="clearfix visible-lg"></div>
  
</header>
<div class="container-fluid">
    <!-- 1. The <iframe> (and video player) will replace this div tag. -->
	<ul id="results"></ul>
	
    <!-- <div id="player0" class="player"style="" ></div>
	<div id="player1" class="player"style=""></div>
    <div id="player2" class="player"style="" ></div>
	<div id="player3" class="player"style=""></div>
  <div id="player4" class="player"style="" ></div>
	<div id="player5" class="player"style=""></div>
  <div id="player6" class="player"style="" ></div>
	<div id="player7" class="player"style=""></div>
  <div id="player8" class="player"style="" ></div>
	<div id="player9" class="player"style=""></div> -->
 

<script type="text/javascript" src="../static/js/jquery-1.11.3.min.js"></script>
<!-- <script src="../static/js/walkthroughs.js"></script>
 --></div>
<script type="text/javascript" src="../static/js/jquery-1.11.3.min.js"></script>

 <script type="text/javascript">
	
	var channelName='shakiraVEVO';
		
	$(document).ready(function(){
			$.get(
				"https://www.googleapis.com/youtube/v3/channels",{
					part:'contentDetails',
					forUsername:channelName,
					key:'AIzaSyB0svsYurCqunl8hjtZEpzrafy5TDg88hg'},
					function(data){
						$.each(data.items,function(i,item){
							console.log(item);
							pid=item.contentDetails.relatedPlaylists.uploads;
							getvids(pid);
							})
					}
				);

	function getvids(pid){
		$.get(
				"https://www.googleapis.com/youtube/v3/playlistItems",{
					part:'snippet',
					maxResults:10,
					playlistId:pid,
					key:'AIzaSyB0svsYurCqunl8hjtZEpzrafy5TDg88hg'},
					function(data){
						var output;
						$.each(data.items,function(i,item){
							console.log(item);
							videoTitle=item.snippet.title;
							videoId=item.snippet.resourceId.videoId;
							output='<li><iframe src=\"//www.youtube.com/embed/'+videoId+'\"></iframe></li>';
							$('#results').append(output); 
							})
					}
				);
	}



	});
	</script>
<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/js/jquery.cookie.js"></script>
<script src="../static/js/home.js"></script>
<script src="../static/js/index.js"></script>
</body>
</html>